/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/* Variables */

:root {
  --Color-Violet-1: #674baf;
  --Color-Violet-2: #684bb1;
  --Color-Soft-Magenta: #e882e8;
  --Color-White: #fff;

  --Font-Family-Headings: "Open Sans", sans-serif;
  --Font-Family-Body: "Poppins", sans-serif;
}

/* Global */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--Color-Violet-2) url(../images/bg-mobile.svg) no-repeat
    center/cover;
  padding: 4rem;
}

/* Header */

header {
  margin-bottom: 7rem;
}

.logo svg {
  width: 120px;
  height: 50px;
}

/* Hero */

.hero {
  text-align: center;
  margin-bottom: 6.4rem;
}

.hero-img {
  margin-bottom: 6rem;
}

.hero-img img {
  width: 100%;
}

h1 {
  color: var(--Color-White);

  font-family: var(--Font-Family-Headings);
  font-size: 2.4rem;

  margin-bottom: 1.6rem;
}

p {
  color: var(--Color-White);

  font-size: 1.6em;
  font-family: var(--Font-Family-Body);
  font-weight: 400;
  line-height: 24px;

  margin-bottom: 2.4rem;
}

.btn {
  color: var(--Color-Violet-2);
  background-color: var(--Color-White);

  font-size: 1.6rem;
  font-family: var(--Font-Family-Headings);
  text-decoration: none;

  border-radius: 20px;

  display: inline-block;

  padding: 1.1rem 7.5rem;
}

.btn:hover {
  color: var(--Color-White);
  background: var(--Color-Soft-Magenta);
  box-shadow: 2px 4px 9px 3px rgba(0, 0, 0, 0.258633);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .fa-brands {
  color: #fff;
  font-size: 1.5rem;
  border: 1px solid #fff;
  border-radius: 50%;

  padding: 1rem;
}

footer .fa-brands:hover {
  color: #ff52c1;
  border-color: #ff52c1;
}

footer .fa-brands {
  margin-right: 1rem;
}
