/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap");

/* Variables */

:root {
  --Color-Violet-1: #674baf;
  --Color-Violet-2: #684bb1;
  --Color-Soft-Magenta: #e882e8;
  --Color-White: #fff;

  --Font-Family-Headings: "Open Sans", sans-serif;
  --Font-Family-Body: "Poppins", sans-serif;
}

/* Global */

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--Color-Violet-2) url(../images/bg-mobile.svg) no-repeat
    center/cover;
  padding: 4rem;
}
